<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PravasPedia</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins&family=Shantell+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static "css/north.css" %}">
  </head>
  <body>
    <div class="back">
      <img src="{% static "Images/back.jpg" %}" alt="Background Image" class="img">
      <input type="checkbox" id="check" />
      <div class="btn_one">
        <label for="check">
          <i class="fa-solid fa-bars"></i>
        </label>
      </div>

      <div class="sidebar_menu">
        <div class="logo">
          <a href="{% url 'main' %}">प्रवासPedia</a>
        </div>

        <div class="btn_two">
          <label for="check">
            <i class="fa-solid fa-xmark"></i>
          </label>
        </div>

        <div class="menu">
          <ul>
            {% if user.is_authenticated %}
              <li>
                <i class="fa-solid fa-route"></i>
                <a href="{% url "plan_trip" %}">Itineraries</a>
              </li>
              <li>
                <i class="fa-regular fa-comments"></i>
                <a href="{% url 'review' %}">Feedback</a>
              </li>
              <li>
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                <form method="POST" action="{% url 'logout' %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" style="background: none; border: none; color: inherit; color: rgb(0, 64, 124); cursor: pointer; font-size: large;">
                        LogOut
                    </button>
                </form>
            </li>
            
            {% else %}
              <li>
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                <a href="{% url 'login' %}">LogIn</a>
              </li>
              <li>
                <i class="fa-solid fa-right-to-bracket"></i>
                <a href="{% url 'register' %}">Register</a>
              </li>
              <li>
                <i class="fa-solid fa-image"></i>
                <a href="#">Gallery</a>
              </li>
              
            {% endif %}
            <li>
              <i class="fa-regular fa-map"></i>
              <a href="{% url 'stories' %}">Untold Stories</a>
            </li>
          </ul>
        </div>

        <div class="social_media">
          <ul>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
          </ul>
        </div>
      </div>
    
        <div class="content">
            <div class="card guj">
                <img class="card-img" src="{% static "Images/Gujrat.jpg" %}" alt="Card image cap">
                <div class="card-body">
                    <a href="{% url 'hidden_gems' direction='west' state='Gujarat' %}">GUJARAT</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img" src="{% static "Images/Rajsthan.jpg" %}" alt="Card image cap">
                <div class="card-body">
                    <a href="{% url 'hidden_gems' direction='west' state='Rajasthan' %}">RAJASTHAN</a>
                </div>
            </div>
            <div class="card mp">
                <img class="card-img" src="{% static "Images/Madhya Pradesh.jpg" %}" alt="Card image cap">
                <div class="card-body">
                    <a href="{% url 'hidden_gems' direction='west' state='Madhya Pradesh' %}">MADHYA PRADESH</a>
                </div>
            </div>
            <div class="card mh">
                <img class="card-img" src="{% static "Images/Maharashtra.jpg" %}" alt="Card image cap">
                <div class="card-body">
                    <a href="{% url 'hidden_gems' direction='west' state='Maharashtra' %}">MAHARASHTRA</a>
                </div>
            </div>
            <div class="card">
              <img class="card-img" src="{% static "Images/Goa.jpg" %}" alt="Card image cap">
              <div class="card-body">
                  <a href="{% url 'hidden_gems' direction='west' state='Goa' %}">GOA</a>
              </div>
          </div>
        </div>
    </div>

</body>
</html>